<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="static/style.css">
    <title>GlobalScript</title>
</head>

<body>
    <header>
        <div class="header-container">
            <div class="logo">
               <!--<img src="/Users/adyotbose/Documents/Brillanz Software Solutions LLP/Project/Logo.jpg" alt="GlobalScript Logo">-->
                <h1>GlobalScript</h1>
            </div>
            <nav class="nav-links">
                <ul>
                    <li><a href="{{url_for('features')}}">Features</a></li>
                </ul>
            </nav>
            <!--<div class="auth-buttons">
                <button class="blue-button" onclick="window.location.href='signin.html'">Sign in</button>
                <button class="blue-button" onclick="window.location.href='signup.html'">Sign up</button>
            </div>-->
        </div>
    </header>
    <main>
        <hr>
        <section id="how-it-works" class="script-how-it-works">
            <h2>Video Transcription and Translation</h2>
            <div class="how-it-works-container">
                <div>
                    <div class="how-it-works-step">
                        <div class="step-number"><h4><u>Step-1</u></h4></div>
                        <div class="step-text">
                            <h3>Upload Video File</h3>
                            <p>Choose to upload a video file (MP4 format).</p>
                        </div>
                    </div>
                    <div class="how-it-works-step">
                        <div class="step-number"><h4><u>Step-2</u></h4></div>
                        <div class="step-text">
                            <h3>Select Language</h3>
                            <p>Choose the target language before translation.</p>
                        </div>
                    </div>
                    <div class="how-it-works-step">
                        <div class="step-number"><h4><u>Step-3</u></h4></div>
                        <div class="step-text">
                            <h3>Start translating the video</h3>
                            <p>Click on Start Process to initiate the translation process</p>
                        </div>
                    </div>
                    <div class="how-it-works-step">
                        <div class="step-number"><h4><u>Step-4</u></h4></div>
                        <div class="step-text">
                            <h3>Get Your File</h3>
                            <p>Click the "Download" button to get your AI-generated voice file.</p>
                        </div>
                    </div>
                </div>
                <div class="video-container">
                    <iframe width="660" height="415" src="https://www.youtube.com/embed/8SQV-B83tPU" frameborder="0"
                        allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
                        allowfullscreen></iframe>
                </div>
            </div>
        </section>
        <hr>
        <form action="/getstarted" method="post">
           <button class="start-button" onclick="window.location.href='getstarted.html'">Get Started</button>
        </form>
    </main>
    <!--<footer>
        <div class="footer-container">
            <div class="footer-section">
                <h3>GlobalScript</h3>
            </div>
            <div class="footer-section">
                <h3>Speech Synthesis</h3>
                <ul>
                    <li><a href="#">Text to Speech</a></li>
                    <li><a href="#">Voice Changer</a></li>
                    <li><a href="#">Sound Effects</a></li>
                    <li><a href="#">Dubbing</a></li>
                    <li><a href="#">API</a></li>
                    <li><a href="#">Languages</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Voice Lab</h3>
                <ul>
                    <li><a href="#">Text to Speech</a></li>
                    <li><a href="#">Speech to Text</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Resources</h3>
                <ul>
                    <li><a href="#">Help Center</a></li>
                    <li><a href="#">Voice Actors</a></li>
                    <li><a href="#">Guides</a></li>
                    <li><a href="#">API</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Company</h3>
                <ul>
                    <li><a href="#">About</a></li>
                    <li><a href="#">Careers</a></li>
                    <li><a href="#">Blog</a></li>
                </ul>
            </div>
            <div class="footer-section">
                <h3>Get Started</h3>
                <ul>
                    <li><a href="signup.html">Sign Up</a></li>
                    <li><a href="#">Customers</a></li>
                    <li><a href="#">Showcase</a></li>
                </ul>
            </div>
        </div>
        <div class="footer-bottom">
            <p>2024 GlobalScript &copy; All rights reserved. <a href="#">Terms</a> <a href="#">Privacy</a></p>
            <div class="social-icons">
                <a href="#">LinkedIn</a>
                <span>X</span>
                <a href="#">Discord</a>
                <span>X</span>
                <a href="#">YouTube</a>
                <span>X</span>
                <a href="#">GitHub</a>
            </div>
        </div>
    </footer>-->
</body>

</html>